@font-face{
    font-family: 'gilroy';
    src : url('font/Gilroy-ExtraBold.otf')
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --ff-raleway : 'Raleway', sans-serif;
    --ff-gilroy : 'gilroy', sans-serif;

    --fw-reg : 300;
    --fw-bold : 900;

    --bg-dark : #222222;
    --bg-darker-dark : #1f1f1f;
    --bg-limegreen : #D6ED17;

    --clr-text-light : #f5f5f5;
    --clr-text-dark : #222222;
    --clr-text-limegreen : #D6ED17;
    /* --clr-text-purple : red; */

    --fs-h1: 3.5rem;
    --fs-h2: 3rem;
    --fs-h3: 1.8rem;
    --fs-nav-logo: 2.1rem;
    --fs-nav-links: 1.2rem;
    --fs-body: 1.2rem;

}

@media (max-width :900px){
    :root{
        --fs-h1: 3rem;
        --fs-h2: 2.25rem;
        --fs-h3: 1.5rem;
        --fs-nav-logo: 2rem;
        --fs-nav-links: 1.2rem;
        --fs-body: 1.125rem;
    }
}

@media (max-width : 450px){
    :root{
        --fs-h1: 2.3rem;
        --fs-h2: 1.8rem;
        --fs-h3: 1.2rem;
        --fs-nav-logo: 2rem;
        --fs-nav-links: 1.2rem;
        --fs-body: 1.125rem;
    }
}

@media (max-width: 360px){
    :root{
        --fs-h1: 2rem;
        --fs-h2: 1.5rem;
        --fs-h3: 1.1rem;
        --fs-nav-logo: 1.5rem;
        /* --fs-nav-links: 1.2rem; */
        --fs-body: 1.125rem;
    }
}

a:link{
    text-decoration: none;
    color: var(--clr-text-light)
}

a:visited{
    color: var(--clr-text-light)
}

a:hover{
    color: var(--clr-text-limegreen);
}


body{
    background-color: var(--bg-dark);
    color: var(--clr-text-light);
    font-family : var(--ff-raleway);
    font-size : var(--fs-body);
    line-height: 1.6;
}

img{
    display: block;
    max-width: 100%;
}

h1,h2,h3{
    /* font-family : var(--ff-gilroy); */
    line-height: 1.1;
}

h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

.section-title{
    text-align: center;
    font-family: var(--ff-gilroy);
}

/* navbar */

nav{
    display: flex;
    justify-content: space-around;
    font-family: var(--ff-gilroy);
    align-items: center;
    padding : 1em 0em 1em 0em;
}

.nav-brand{
    font-size: var(--fs-nav-logo);
}

.nav-buttons{
    display: flex;
    width: 45%;
    justify-content: space-around;
    font-size: var(--fs-nav-links);
}

@media (max-width: 1200px){
    .nav-buttons{
        width : 55%;
    }
}

/* About me */

#about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6em 2em 7.5em 2em;
}

.am-img{
    width: 400px;
    transition: transform 1s ease, filter 1s ease;
    filter: grayscale(100%);
}

.am-img:hover{
    transform: scale(1.05);
    filter: grayscale(0%);
}

.am-body{
    margin: 0em 0em 0em 2em;
    font-size:var(--fs-h3)
}

@media (max-width: 900px){ 
    .nav-buttons{
        display: none;
    }
    
    .am-img{
        width: 350px;
    }

    #about-me{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 3em 2em 5em 2em;
    }

    .am-body{
        margin: 2em 0em 0em 0em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* services */

#service-section{
    /* margin: 10% 0% 10% 0%; */
    padding: 10%;
    background-color: var(--bg-darker-dark);
}

.services{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 5% 0% 5% 0%;
}

.service{
    margin: 3em 1em 3em 1em;
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    overflow: hidden;
}

.service-icon{
    width:150px;
    margin: 0em 0em 2em 0em;
}

.service{
    transition: transform 1s ease;
}

.service:hover{
    transform: scale(1.1);
}

@media (max-width: 720px){
    .services{
        flex-flow: column wrap;
    }
    .service-icon{
        width: 125px;
    }
}

/* #proj */

